body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: #323232;
    padding-top: 103px;
    line-height: 1.3;
    font-weight: 400;
  }
  
  img {
    max-width: 100%;
    height: auto;
    transition: 0.3s;
  }
  
  .container {
    width: 100%;
    max-width: 1280px;
  }
  
  a {
    transition: 0.5s;
    color: #65A2D9;
  }
  
  button:disabled {
    opacity: .8;
    pointer-events: none;
  }
  
  a.logo img,
  .custom-logo-link img {
    max-width: 279px;
  }
  
  .anchor-a {
    text-decoration: none;
  }
  /* ============================= */
  .top_header{
    padding: 8px 0px;
    background: var(--ice-blue, #EFF5F9);
  }
  .top_content{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .top_content p{
    color: #EC6B46;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
  }
  .top_content p span{
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px; /* 100% */
    letter-spacing: 2px;
    padding: 4px 8.73px 4px 8px;
    border-radius: 4px;
    background:  #EC6B46;
    text-transform: uppercase;
    margin-right: 10px;
  }
  .top_content p span span{
    padding: 0;
    margin-right: 5px;
  }
  .top_content a{
    color:  #0075C4;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px; 
    margin-left: 40px;
  }
  .country_selector_dropdown{
    display: flex;
    align-items: center;
  }
  .country_selector_dropdown img{
    margin-right: 7px;
  }
  /* ============================= */
  
  #nav {
    position: fixed;
    background: #FFFFFF;
    border-bottom: 1px solid #FAFAFA;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
    padding: 0px 0;
    box-shadow: 0px 2px 6px rgba(220, 220, 220, 0.8);
  }
  
  /* #nav .container {
    width: 100%;
    max-width: 1760px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
  } */
  
  #nav .container .row {
    align-items: center;
  }
  
  #nav .mainnav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  #nav .mainnav ul li {
    list-style: none;
    margin: 0;
    /* padding: 40px 35px 40px 25px; */
    padding: 40px 18px 40px 18px;
    transition: 0.3s;
    flex-grow: 1;
    cursor: pointer;
  }
  
  #nav .mainnav ul li a {
    color: #1F151B;
    font-weight: 400;
    font-size: 14px;
  }
  
  #nav .mainnav ul li a:hover {
    color: #EB6744;
  }
  
  #nav .mainnav ul li:hover>a::after {
    transform: rotate(180deg);
  }
  
  #nav .mainnav ul li h6 a:hover {
    color: #EB6744;
  }
  
  #nav li.drop:hover::after {
    content: '';
    position: fixed;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 143px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -19;
  }
  
  #nav li.drop>a {
    position: relative;
    pointer-events: none;
  }
  
  #nav li.drop>a::after {
    content: "";
    background: url(../images/drop-down.svg) no-repeat center / 14px;
    position: absolute;
    left: calc(100% + 6px);
    width: 16px;
    height: 20px;
    transition: transform .3s;
  }
  
  #nav .rightnav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  #nav .rightnav ul li {
    list-style: none;
    margin: 0;
    padding: 0 15px;
    ;
  }
  
  #nav .rightnav ul li a img {
    position: relative;
    margin-right: 10px;
    right: 0;
    transition: 0.3s;
  }
  
  #nav .rightnav ul li a:hover img {
    right: -5px;
  }
  
  #nav .rightnav ul li {
    padding: 0 5px;
  }
  
  #nav ul li a.try-free {
    font-size: 15px;
    padding: 10px 12px;
    min-width: 152px;
  }
  
  .cmnbtn {
    background: linear-gradient(270deg, #EB6744 0%, #fe874b 100%);
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 10px 22px;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    transition: .3s;
    border: none;
  }
  
  .cmnbtn:hover,
  .cmnbtn:focus {
    color: #fff;
  }
  
  .cmnbtn:hover::after,
  .cmnbtn:focus::after,
  #nav ul li a.try-free:hover::after,
  #nav ul li a.try-free:focus::after {
    opacity: 1;
  }
  
  .cmnbtn::after,
  #nav ul li a.try-free::after {
    content: '';
    border: #EB6744 1px solid;
    background: linear-gradient(270deg, #EB6744 0%, #EB6744 100%);
    transition: 0.3s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  #nav ul li a.try-free::after {
    border: none;
  }
  
  #nav ul li a.login-t::after {
    background: linear-gradient(90deg, #005987 0%, #005987 100%);
  }
  
  .cmnbtn-out {
    border: #EB6744 1px solid;
    background: linear-gradient(270deg, #fff 0%, #fff 100%);
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 28px;
    text-decoration: none;
    color: #EB6744;
    border-radius: 8px;
    text-align: center;
  }
  
  .cmnbtn-out:hover,
  .cmnbtn-out:focus {
    border-color: transparent;
    color: #fff;
  }
  
  .cmnbtn-out:hover::after,
  .cmnbtn-out:focus:after {
    opacity: 1;
  }
  
  .cmnbtn-out::after {
    content: '';
    background: linear-gradient(270deg, #EB6744 0%, #fe874b 100%);
    transition: 0.3s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  /* Maga Dropdow */
  .navdes {
    background: #fff;
    left: 0;
    right: 0;
    box-shadow: inset 0px 20px 22px -30px rgba(107, 107, 107, 1);
    margin-top: 40px;
    z-index: 999;
    padding: 50px 0;
    color: #808080;
    transition: 0.5s;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  #nav .navdes .container {
    max-width: 1440px;
  }
  
  .navdes h4 {
    font-weight: 500;
    font-size: 16px;
    color: #909090;
  }
  
  .icon-t {
    display: flex;
    align-items: center;
    padding: 15px 0;
  }
  
  .icon-t h6 {
    color: #323232;
  }
  
  .icon-t p {
    margin: 0;
  }
  
  .icon-t .icn {
    width: 70px;
    flex: 0 0 70px;
    text-align: center;
    margin: 0 20px 0 0;
  }
  
  .ft-i {
    display: flex;
    align-items: center;
    padding: 15px 0;
  }
  
  .ft-i .icn {
    width: 40px;
    text-align: center;
    padding: 0 15px 0 0;
  }
  
  #nav .navdes a.cmnbtn {
    color: #fff;
  }
  
  a.view-avail {
    color: #65A2D9;
    text-decoration: none;
  }
  
  a.view-avail svg {
    margin-left: 10px;
    transition: 0.5s;
    position: relative;
    left: 0;
  }
  
  a.view-avail:hover svg {
    left: 5px;
  }
  #nav .rightnav ul li a.sign_in{
    color: #1F151B;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
  }
  





  
  footer {
    background: #323232;
    padding: 50px 30px 10px 30px;
    color: #fff;
    font-weight: 500;
    clear: both;
  }
  
  /* footer .container {
    width: 100%;
    max-width: 1760px;
    margin: auto;
  } */
  
  footer .subscribebx .txt {
    border-bottom: #fff 1px solid;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  
  footer .subscribebx {
    padding: 10px 0;
  }
  
  footer .subscribebx ul {
    padding: 10px 0;
    margin: 0;
    display: flex;
  }
  
  footer .subscribebx ul li {
    padding: 0 18px 0 0;
    margin: 0;
    list-style: none;
  }
  
  footer .subscribebx img:hover {
    transform: rotate(360deg);
  }
  
  footer .foot-menu h6 {
    background: linear-gradient(270deg, #fff 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 15px;
  }
  
  footer .foot-menu {
    padding-left: 50px;
  }
  
  footer .foot-menu ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
  }
  
  footer .foot-menu ul li a:hover {
    color: #EB6744;
    padding-left: 2px;
  }
  
  footer .foot-menu ul {
    margin: 0;
    padding: 0;
  }
  
  footer .foot-menu ul li {
    margin: 0;
    padding: 8px 0;
    list-style: none;
  }
  
  .footbtm {
    /* padding: 20px 15px 10px 15px; */
    padding: 90px 15px 40px 15px;
  }
  .footbtm .row{
    align-items: center;
  }
  .footbtm .col-md-9 {
    text-align: center;
  }
  
  .footbtm a {
    color: #fff;
    text-decoration: none;
    font-family: Inter;
    font-size: 13px;    
  }
  /* footer h6 {
    background: linear-gradient(270deg, #fff 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
} */
footer h6.ex_space{
    padding-top: 20px;
}
#successsell, #faled {
    display: none;
    font-size: 24px;
}
.newsletter input[type="text"], .newsletter input[type="email"] {
    width: 100%;
    border: none;
    outline: none;
    height: 45px;
    padding-left: 20px;
    border-radius: 8px;
    box-shadow: none;
}
.newsletter input[type="submit"] {
    --c1: #EB6744;
    --c2: #fe874b;
}
.newsletter input[type="submit"] {
    color: #fff;
    transition: 0.3s;
    margin: 20px 0 0 0;
    display: block;
    border: none;
    height: 45px;
    border-radius: 10px;
    width: 100%;
    background: linear-gradient(90deg, var(--c1, #EB6744), var(--c2, #fe874b) 51%, var(--c1, #EB6744)) var(--x, 0)/ 200%;
}
  
 
  
  
  @media (max-width:991px) {
    .md-margin {
      margin-top: 3rem;
    }
  
    .leadership-concent img {
      width: 100%;
    }
  
    .our-vision {
      padding-bottom: 180px;
    }
  
    .try-hybrid-sec {
      padding-top: 30px;
    }
  
    .counter-div {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width:576px) {
    #try-hybrid.say-hello.about {
      padding: 40px 20px;
    }
  
    .counter {
      display: block;
    }
  
    .leadership {
      padding-top: 10px;
    }
  
    .join-team {
      display: block;
      padding-top: 40px;
    }
  
    .jteam-content {
      margin-top: 20px;
    }
  
    .sm-margin {
      margin-top: 3rem;
    }
  
    .counter .count {
      font-size: 47.0259px;
      line-height: 59px;
      margin-bottom: 10px;
    }
  
    .leadership-head h3 {
      font-size: 30px;
    }
  
    .our-vision-content h3 {
      font-size: 30px;
    }
  }
  
  /* ================================== about page css end */
  /* ============= om-css-start ============= */
  /* desk-page-css-start */
  .desk-bb {
    padding-top: 120px !important;
    padding-bottom: 160px !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
  
  .desk-bb .row {
    align-items: flex-start !important;
  }
  
  .desk-bb .row div[class^='col-'] {
    height: 100%;
    margin-top: 15px;
  }
  
  .desk-it-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .desk-it-text h6 {
    line-height: 1.5;
    margin-bottom: 1.2em;
  }
  
  .desk-it-text p {
    line-height: 1.5;
    padding-right: 20px;
  }
  
  .desk-img-txt {
    padding-top: 40px;
  }
  
  .sol-flex .heading h2 {
    padding-top: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  /* single-post-start */
  .blog-main {
    margin-top: 70px;
  }
  
  .blog-main .cat-n-date {
    margin-bottom: 10px;
  }
  
  .blog-main .cat-n-date a {
    background: #F8F8F8;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    padding: 0px 5px;
    line-height: 1.5;
    text-align: center;
    color: #323232;
  }
  
  .blog-main .mt-btm {
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    color: #808080;
  }
  
  .blog-main .person-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
  .blog-main .p-img-nm {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .blog-main .p-img-nm .nm-div {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #65A2D9;
  }
  
  .blog-main .p-img-nm:hover .nm-div {
    color: #EB6744;
  }
  
  .blog-main .p-img-nm .nm-div span {
    color: #646464;
  }
  
  .blog-main .p-social {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
  }
  
  .blog-main .p-social a {
    border-radius: 50%;
  }
  
  .blog-main .p-social a:hover {
    box-shadow: 0px 2px 4px 4px #00000010;
  }
  
  .blog-main .img-div.bnr-img {
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.15));
    margin: 50px auto;
    max-height: 661px;
  }
  
  .blog-main .blog-content h2 {
    font-size: 40px;
  }
  
  .blog-main .blog-content p {
    font-size: 20px;
    color: #3F4450;
  }
  
  .blog-main .was-helpful {
    border-top: 1px solid #EB6744;
    border-bottom: 1px solid #EB6744;
    padding: 18px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .blog-main .was-helpful .cmnbtn-out {
    box-shadow: 0px 10.0041px 20.0081px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #65A2D9;
  }
  
  .blog-main .was-helpful .cmnbtn-out:hover {
    transform: unset;
    color: #fff;
  }
  
  .blog-main .was-helpful .btn-div {
    display: flex;
    column-gap: 50px;
    align-items: center;
  }
  
  .blog-main .was-helpful span {
    font-weight: 300;
    font-size: 30px;
    color: #3F4450;
  }
  
  .blog-main .new-about-div .res-newsimg {
    border: 1px solid #EB6744;
  }
  
  .blog-main .newsletter input[type="email"] {
    border: 1px solid #CCCCCC;
  }
  
  .blog-main .newsletter.newsltr {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-top: 1px solid #EB6744;
    border-bottom: 1px solid #EB6744;
    padding: 45px 0;
    margin-top: 10px;
  }
  
  .blog-main .newsletter.newsltr form {
    font-size: 25px;
  }
  
  .blog-main .newsletter.newsltr h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 1;
    color: #3F4450;
    text-transform: capitalize;
  }
  
  .blog-main .newsletter.newsltr p {
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    color: #6D6F74;
  }
  
  .blog-main .wp-block-image {
    border-radius: 5px;
    overflow: hidden;
  }
  
  /* single-post-end */
  @media (min-width:1300px) {
    .desk-img-txt .container {
      max-width: 1020px;
    }
  }
  
  /* desk-page-css-end */
  .azure-icn {
    transform: translateX(-22px);
  }
  
  .kf-crd {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .kf-crd h6 {
    margin-bottom: 0;
  }
  
  .coface-icn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .coface-icn-div img {
    max-width: 312px;
  }
  
  /* loop-pagination-css-start */
  .wp-page-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .wp-page-div a,
  .wp-page-div span {
    border-radius: 3px;
    background-color: #EB6744;
    margin: 2px;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    width: 40px;
    height: 40px;
    text-decoration: none;
  }
  
  .wp-page-div .current,
  .wp-page-div span.current {
    border-color: #203864;
  }
  
  .wp-page-div a:first-child,
  .wp-page-div a:last-child {
    width: 130px;
    background-color: #203864;
  }
  
  .wp-page-div .dots {
    background-color: unset;
    color: #EB6744;
    font-size: 50px;
    line-height: 0;
    margin: unset;
    padding-bottom: 35px;
  }
  
  /* loop-pagination-css-end */
  .workplacebx .img-div {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img-div a {
    height: 100%;
    width: 100%;
  }
  
  .workplacebx .img-div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: unset;
  }
  
  a {
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
  }
  
  .solultion-flexible {
    padding: 50px 0 100px;
    position: relative;
  }
  
  .load-more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .flexiiconfle-home {
    max-height: 300px;
    overflow: hidden;
  }
  
  .less-height {
    max-height: unset;
    overflow: unset;
  }
  
  /* new-css-changes-start */
  #nav ul li a.login-t {
    background: linear-gradient(90deg, #51A6D3 0.38%, #007ABA 100.39%) !important;
    /* background-color: #51A6D3; */
  }
  
  #nav ul li a.login-t:hover {
    color: #fff;
    border-color: #007ABA !important;
    background: linear-gradient(90deg, #007ABA 0.38%, #005987 100.39%) !important;
  }
  
  .owl-theme .owl-dots .owl-dot span {
    background: #ffbd9c;
  }
  
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #EB6744;
  }
  
  .clients-worldwide .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #nav .mainnav ul li .navdes .cmnbtn:hover {
    color: #fff;
  }
  
  .blockquote-footer {
    font-size: 16px;
    font-weight: 700;
    color: #203864;
    text-transform: capitalize;
    margin-top: 1em;
  }
  
  .blockquote-footer::before {
    content: none;
  }
  
  .owl-carousel .owl-item .img-div {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fof-pg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  
  .fof-pg h1 {
    font-size: 60px;
    font-weight: 600;
    background: url(../images/fof-bg2.jpg) no-repeat 50% 50% / cover, #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  
  .fof-pg h1.fof-h1 {
    font-size: 160px;
  }
  
  .testi-carousel {
    padding: 15px;
  }
  
  .our-vision {
    margin-top: 40px;
  }
  
  .ppi-div .ppi-icns {
    display: flex;
    align-items: flex-start;
    gap: 20px 30px;
  }
  
  .ppi-div .ppi-icns>.img-div {
    flex: 0 1 45%;
  }
  
  @media(max-width:1400px) {
    #nav ul li a.try-free {
      min-width: 120px;
    }
  }
  
  @media(max-width:767px) {
    .footer-bottom-links {
      display: block !important;
    }
  
    footer .col-md-2,
    footer .col-md-8 {
      display: none;
    }
  
    .foottop {
      padding-top: 25px;
    }
  
    footer .col-md-2:last-child {
      display: block;
    }
  
    footer {
      padding-top: unset !important;
    }

  }
  
  /* ============= om-css-end ============= */
 
  @media(max-width:1100px) {
    a.logo img {
      max-width: 200px;
    }
  
    #nav .mainnav ul li {
      padding: 30px 25px 30px 15px;
    }
  
    #nav .mainnav ul li {
      background-size: 8px;
      background-position: calc(100% - 5px) 35px;
    }
  
    .navdes {
      margin-top: 28px;
    }
  
    #nav ul li a.try-free {
      padding: 8px 6px;
      font-size: 14px;
    }
  
    #nav .rightnav ul li a img {
      margin-right: 5px;
    }
  
    body {
      padding-top: 82px;
      font-size: 15px;
    }
  
    #try-hybrid h5 {
      font-size: 30px;
      margin: 10px 0;
    }
  
    #try-hybrid {
      padding: 0 15px;
    }
  
    .optimize-sec {
      padding: 0 15px;
    }
  
    .powerful {
      padding: 60px 30px;
    }
  
    .say-hello .say-pic {
      margin-bottom: 0;
    }
  
    .solultion-flexible .heading h2 {
      font-size: 32px;
    }
  
    .arrowgt {
      font-size: 12px;
      gap: 3px;
    }
  
    .pos4 {
      top: 12px;
      left: 10px;
    }
  
    .pos5 {
      bottom: 12px;
      left: 10px;
    }
  
    .pos2 {
      top: 12px;
      left: 0px;
    }
  
    .pos1 {
      bottom: 13px;
      right: 5px;
    }
  
    .optimize-bx .head {
      font-size: 22px;
    }
  
    .powerful .content h3 {
      font-size: 22px;
    }
  }
  
  .mob-menu {
    display: none;
  }
  
  .desk {
    opacity: 0;
    pointer-events: none;
  }
  
  @media(min-width:991px) {
    #nav .mainnav li:hover .navdes {
      opacity: 1;
      pointer-events: fill;
    }
  
    .desk {
      opacity: 1 !important;
      pointer-events: all !important;
    }
  
    .navdes {
      display: block !important;
    }
  }
  
  @media(max-width:990px) {
    #nav li:hover::after {
      display: none;
    }
  
    #nav .container {
      padding-left: 15px;
    }
  
    .icon-t .icn {
      width: 50px;
      flex: 0 0 50px;
    }
  
    #block-10 .container {
      padding: 0px;
    }
  
    .mob-menu {
      display: block;
      z-index: 99;
    }
  
    .menu-i {
      position: fixed;
      right: 30px;
      top: 20px;
      opacity: .7;
      transform: scale(1);
      height: 27px;
      cursor: pointer;
      transition: 0.3s ease-in;
    }
  
    .menu-x {
      position: fixed;
      right: 33px;
      top: 24px;
      width: 24px;
      opacity: 0.7;
      transform: scale(1);
      cursor: pointer;
      transition: 0.3s ease-in;
    }
  
    .row.desk {
      display: block;
      opacity: 0;
      position: fixed;
      top: -263px;
      pointer-events: none;
      transition: 0.6s ease-in;
      bottom: auto;
      overflow-y: auto;
      left: 0;
      right: 0;
      background: #fff;
    }
  
    .row.desk.active {
      top: 63px;
      bottom: 0;
      opacity: 1;
      pointer-events: all;
      z-index: 1;
      box-shadow: inset 0px 20px 22px -30px rgb(107 107 107);
    }
  
    .row.desk .logo {
      display: none;
    }
  
    #nav .mainnav ul {
      display: block;
    }
  
    #nav .rightnav ul {
      display: block;
      /* padding: 0 45px; */
      padding: 0 15px 0 15px;
    }
  
    #nav .rightnav ul li {
      background-size: 18px;
      padding: 8px 0;
    }
  
    #nav .mainnav ul li:hover {
      background-size: 15px;
      background-position: calc(100% - 5px) 32px;
    }
  
    #nav ul li a.try-free {
      padding: 12px 18px;
      font-size: 18px;
      display: block;
    }
  
    #nav .rightnav ul li {
      text-align: center;
    }
  
    .navdes .col-md-4 {
      padding-bottom: 20px;
    }
  
    .menu-i.deactive {
      opacity: 0;
      z-index: -1;
      transform: scale(0);
    }
  
    .menu-x.deactive {
      opacity: 0;
      z-index: -1;
      transform: scale(0);
    }
  
    .mainnav ul li.active .navdes {
      opacity: 1;
      pointer-events: all;
      border-top: #dcdcdc 1px solid;
      padding: 20px 0 0 0px;
      box-shadow: none;
    }
  
    #nav {
      padding: 10px 0;
    }
  
    #nav .navdes a.cmnbtn {
      margin-bottom: 15px;
    }
  
    #nav .navdes img.w-100 {
      max-width: 240px;
      display: block;
      margin: auto;
    }
  
    .mainnav {
      padding: 0 25px 0 15px;
      /* max-width: 446px;         */
      margin: auto;
      position: relative;
      left: 5px;
    }
  
    .row.desk>.col-md-6,
    .row.desk>.col-md-3 {
      width: 100%;
    }
  
    #nav .mainnav ul li {
      border-bottom: #dcdcdc 1px solid;
      padding-left: 0;
    }
  
    .navdes .col-md-4,
    .navdes .col-md-6,
    .navdes .col-md-8 {
      max-width: 100%;
      width: 100%;
    }
  
    .rightnav {
      /* max-width: 500px;  */
      margin: 20px auto 0 auto;
    }
  
    #nav .rightnav ul li a {
      display: block;
      border: #323232 1px solid;
      padding: 10px;
      border-radius: 5px;
    }
  
    #nav .rightnav ul li a:hover,
    #nav .rightnav ul li a:focus {
      background: linear-gradient(270deg, #EB6744 0%, #fe874b 100%);
      border-color: #EB6744;
      color: #fff;
    }
  
    #nav .rightnav ul li a:hover img,
    #nav .rightnav ul li a:focus img {
      filter: brightness(10000);
    }
  
    #nav ul li a.try-free {
      border-color: transparent;
    }
  
    .navdes {
      position: static;
      box-shadow: none;
      display: none;
    }
  
    #nav .mainnav li {
      background-image: none !important;
    }
  
    /* #nav .mainnav li.drop{background-image: url(../images/drop-arrow.svg)!important; background-size: auto !important} */
    /* #nav .mainnav li.drop.active{ background-image: url(../images/arrow-bt.svg)!important; background-size: auto !important;} */
    .menuf {
      flex-direction: row-reverse;
    }
  }
  
  @media(max-width:767px) {
    body {
      padding-top: 64px;
    }
  
    .mainnav {
      padding: 0 15px 0 20px;
    }
  
    .mainnav ul li.active .navdes {
      margin-right: -25px;
    }
  
    footer {
      padding: 40px 10px 10px 10px;
    }
  
    footer .foot-menu {
      padding: 10px 0;
    }
  
    .footer-logo img {
      max-width: 200px;
    }
  
    footer {
      font-size: 13px;
    }
  
    footer .foot-menu .col-md-2 {
      max-width: 50%;
      padding: 15px;
    }
  
    footer .footbtm {
      text-align: center;
    }
  
  }
  
 
  
  @media (max-width: 767px) {
  
    /* .menu-x {
      top: 51px;
    } */
    .row.desk.active {
      top: 65px;
    }
  
    #nav {
      padding: 0px 0px 10px 0px;
    }
  
    .mob-menu {
      margin-top: 10px;
    }
    .home_banner{
      margin-top: 0 !important;
    }
    .bnr_content span {
      margin-top: 19px !important;
    }
  }
  



/* =================== Home page inner content css */
.home_banner{
    background: url(../images/bnr-img.png), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    padding: 80px 0;
}
.bnr_content{
    text-align: right;
    padding: 100px 0;
    max-width: 1080px;
    margin: 0 auto;
}
.bnr_content h2{
    color:  #FFF;
    font-size: 56px;
    font-weight: 500;
    line-height: 66px; /* 117.857% */
    letter-spacing: -1.5px;
    margin-bottom: 20px;
}
.bnr_content p{
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px; /* 123.529% */
    letter-spacing: 2px;
    text-transform: lowercase;
    margin-bottom: 20px;
}
.bnr_content a{
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    display: inline-flex;
    padding: 10.39px 25.91px 10.41px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #0075C4;
    transition: .3s;
}
.bnr_content a:hover{
    background: #EB6744;
}
.bnr_content span{
    display: block;
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 5px;
}
.bnr_content span a{
    background: transparent;
    padding: 0;
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    position: relative;
}
.bnr_content span a:hover{
    background: transparent;
    color: #EB6744;
}

.bnr_content span a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transition: .3s;
}
.bnr_content span a:hover::after{
    background: #EB6744;
}
.hm-brlogo{
    padding-top: 50px;
    padding-bottom: 60px;
    max-width: 1170px;
    margin: 0 auto;
}
.brlogo-content h3{
    color: #203864;
    text-align: center;
    font-family: Jost;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px; /* 140% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.hm-workforce{
    background: #EFF5F9;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}
.hm-workforce .row{
    align-items: center;
}
.hmw-cont{
    padding-right: 150px;
}
.hmw-cont span{
    color: #FFF;
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 100% */
    letter-spacing: 2px;
    border-radius: 4px;
    background: var(--hh-orange, #EC6B46);
    padding: 4px 8px 4px 8px;
    text-transform: uppercase;
}
.hmw-cont span span{
    padding: 0;
}
.hmw-cont h3{
    color: #1F151B;
    font-size: 46px;
    font-weight: 500;
    line-height: 54px; /* 117.391% */
    letter-spacing: -1.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hmw-cont p{
    color: #71666D;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.hmw-cont a{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 13px 27.16px 13px 25px;
    border-radius: 6px;
    border: 1px solid #0075C4;
    background: #0075C4;
    transition: .3s;
}
.hmw-cont a:hover{
    border: 1px solid #EC6B46;
    background: #EC6B46; 
}

/* ======================== */
div.tabBox {
    width:99.9%;
    float:left;
    overflow: visible;
    }
      
    /* div.tabBox h3 {
    padding:20px 0px;
    } */
      
    ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px; 
    width:100%;
    display: flex;
    justify-content: space-between;
    }
      
    ul.tabs li {
    float: left;
    margin-left: 5px;
    padding: 0;
    height: 32px; 
    line-height: 32px; 
    margin-bottom: -1px; 
    overflow: hidden;
    position: relative;
    transition: .3s;
    }
      
    ul.tabs li a {
    display: block;
    padding: 0 5px;
    outline: none;
    background:none;
    }
      
    .tabContainer {
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left;
    width:99.9%;
    min-height:300px;
    margin-bottom:10px;
    }
      
    .tabContent {
    padding: 20px;
    }
      
    .tabContent h3 {
    padding:0px;
    }
      
    /**** TABS STYLES ****/
   
      
    ul.tabs li a {
    color: #71666D;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    outline: none;
    }
      
    ul.tabs li:hover {
    border-bottom: 1px solid #EB6744;
    }
    ul.tabs li:hover a{
        color: #000;
    }
      
    ul.tabs li.active {
    border-bottom:1px solid #EB6744;
    }
      
    ul.tabs li.active a, ul.tabs li.active a:hover  {  
    color: #000;
    }
      
    
    /* THE RESPONSIVE PART */
    @media only screen and (max-width: 767px) {
     
    ul.tabs {
    height: auto;
    display: block;
    width:100%;
    border-left:0px;
    }
         
    ul.tabs li {
    width:100%;
    }
     
    ul.tabs li a {
    border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;    
    border:0px;
    }
         
    div.tabContainer {
    border: 0px;
    }

    
         
    }
.hmtab-item{
    border-radius: 12px;
    border: 1px solid #E8E7E8;
    background: #FFF;
}
.hmcar-img img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.hmtab-item .row{
    align-items: center;
}
.hm-crtext h3{
    color: #1F151B;
    font-size: 31px;
    font-weight: 500;
    line-height: 42px; /* 135.484% */
    letter-spacing: -0.5px;
}
.hm-crtext p{
    color: #71666D;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    padding-right: 10%;
}

#nav .container{
  max-width: 1400px;
}